.audio-player {
  background: transparent; /* Fondo transparente */
  text-align: center; /* Centra los controles */
}

.controls {
  margin-top: 0px;
}

.control-button {
  background-color: transparent; /* Fondo transparente para los botones */
  border: 2px solid #8f5472; /* Color del borde */
  color: #8f5472; /* Color del texto */
  font-weight: 800; /* Texto en negrita */
  padding: 10px 20px; /* Espaciado interno */
  margin: 0 5px; /* Espaciado entre botones */
  cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño del texto */
}

.control-button:hover {
  background-color: #8f5472; /* Fondo del botón al pasar el ratón */
  color: white; /* Color del texto al pasar el ratón */
}

.progress-container {
  background: rgba(
    0,
    0,
    0,
    0.2
  ); /* Fondo transparente con un poco de opacidad */
  border-radius: 5px;
  height: 6px;
  margin: 6px 0;
  cursor: pointer; /* Cambia el cursor al pasar sobre la barra de progreso */
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
}
