body {
  color: #624a44;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
@font-face {
  font-family: "LovelaceText";
  src: url("../public/fonts/LovelaceText.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SlightRegular";
  src: url("../public/fonts/SlightRegular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ClearSansRegular";
  src: url("../public/fonts/ClearSansRegular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* p {
  margin-bottom: 9px;
  margin-top: 9px;
} */
.primerbloque {
  text-align: center;
  margin-bottom: 30px;
}
.segundobloque {
  text-align: center;
}
.tercerbloque {
  text-align: center;
}
.container {
  max-width: 540px;
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  color: #624a44;
}
.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  letter-spacing: 5px;
}
.bad-script-regular {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.fraunces-playsong {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 10px;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.fraunces-fecha {
  font-family: "Fraunces", serif;
  /* color: #ff93cd; */
  font-optical-sizing: auto;
  /* font-weight: 800; */
  font-size: 16px;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.fraunces-invitacion {
  font-family: "ClearSansRegular";
  font-optical-sizing: auto;
  font-size: 11px;
  letter-spacing: 4px;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.fraunces-texto1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 14px;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.fraunces-texto2 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-size: 14px;
  letter-spacing: 2px;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.btn {
  color: white;
  background-color: #eeaec9;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  font-family: "Fraunces", serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
}
.iconos {
  height: 70px;
}
